doctype html
html(lang="en")
	head
		title= pageTitle
		link(rel="stylesheet", href="styles/main.css")
	body
		h1= hello

		img#bgImage(src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Pizza_Hawaii_02.jpg/150px-Pizza_Hawaii_02.jpg")

		div#buttonWrap.iframeWrap
			iframe(src='https://embed.spotify.com/?uri=spotify:track:#{songId}',
				width="300",
				height="380",
				frameborder="0",
				allowtransparency="true")

		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="scripts/main.js")

